<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ _template :: head('sair') }" ></head>

<body>

    <main class="container center">
        <h1>BasePet</h1>
    
        <p>Tem certeza que deseja sair do sistema?</p>

        <div>
            <a href="/pet" class="btn grey">
                <i class="material-icons left">chevron_left</i>
                volta para o sistema
            </a>
            <form th:action="${'/logout'}" method="post">
                <button class="btn">
                    <i class="material-icons left">check</i>
                    sair do sistema
                </button>
            </form>
            
        </div>


    </main>

    
</body>
</html>