<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>EpicTask</title>
</head>

<body class="grey lighten-3">
    <main class="container center">
        <h1>Epic Task</h1>

        <p>Tem certeza que deseja sair do sistema ?</p>

        <form th:action="${'/logout'}" method="post">
            <a href="/task" class="btn grey">cancelar</a>
            <button class="btn">sim, desejo sair</button>
        </form>

    </main>

</body>

</html>