<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>EpicTask</title>
</head>
<body class="grey lighten-3">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Epic Task</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="/task">pendendes</a></li>
                <li><a href="#">concluídas</a></li>
                <li><a href="#">usuários</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <h2>Cadastrar Tarefa</h2>

        <div class="row">
        <div class="card">
            <div class="card-content">

            <form class="col s12" th:action="${'/task'}" method="post" th:object="${task}">
                <div class="row">
                    <div class="input-field col s12">
@@ -57,10 +59,12 @@ <h2>Cadastrar Tarefa</h2>
                    <span class="helper-text red-text" th:errors="*{score}"></span>
                </p>

                <div>
                    <a href="/task" class="btn grey">cancelar</a>
                    <button class="btn">cadastrar</button>
                </div>
            </div>
            <div class="card-action right-align">
                <a href="/task" class="btn grey">cancelar</a>
                <button class="btn">cadastrar</button>
            </div>

            </form>
        </div>

    </div>
</body>
</html>